* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  width: 100%;
  height: 100vh;
}
.container {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.navigation {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between !important;
  align-items: center !important;
  height: 60px;
  background: #fff;
  padding: 0 20px;
  box-shadow: 2px 0 10px 0 #000;
  position: sticky;
  top: 0;
  z-index: 5;
}
.menu {
  display: none;
}
.logo-link {
  text-decoration: none;
  /* margin-left: 20px; */
}

.logo {
  color: #b23838;
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.links {
  display: flex;
  flex: 1;
  justify-content: center;
}
.link {
  text-decoration: none;
  margin-left: 30px;
  text-transform: capitalize;
  font-size: 15px;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.signin,
.signup {
  font-size: 15px;
}
.signin {
  background: #b23838;
  padding: 8px 12px;
  color: #fff;
}
.signup {
  margin-left: 10px;
  border: 2px solid #b23838;
  padding: 6px 10px;
}
.signin:hover {
  border: 2px solid #b23838;
  padding: 6px 10px;
  color: #000;
  background: none;
  cursor: pointer;
}
.signup:hover {
  background: #b23838;
  padding: 6px 10px;
  color: #fff;
  cursor: pointer;
}
.image-container {
  width: 98%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/background.jpg");
  background-position: top;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.text_content {
  max-width: 700px;
  font-weight: 900;
}
.text_content h2 {
  font-size: 50px;
  margin-bottom: 20px;
  color: #b23838;
}
.text_content p {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-container input {
  width: 70%;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  outline: none;
  margin-top: 0;
}
.search-container input::placeholder {
  font-size: 20px;
  font-style: italic;
  padding: 0 10px;
}
.search-button {
  width: 70px;
  height: 60px;
  margin-top: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.bottom-text-container {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  text-align: center;
}
.content h1 {
  margin-top: 60px;
  text-align: center;
} 
.bottom-text {
  padding: 0 30px;
}
.bottom-text img {
  width: 128px;
  height: 128px;
}
.bottom-text p {
  max-width: 300px;
  font-size: 20px;
}
.bottom-text button {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
}
.input {
  width: 350px;
  height: auto;
  background: #e7ebf4;
  margin-right: 150px;
  margin-top: -30px;
}
.input-content {
  margin: 20px;
}
.input-content p {
  margin-bottom: 10px;
}
.input-content input {
  width: 100%;
  height: 30px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  padding-left: 5px;
}
.input-content input:focus-within {
  outline: 1px solid #b23838;
}
.input-content button {
  padding: 5px 10px;
  background: #b23838;
  border: none;
  outline: none;
  margin-top: 10px;
  cursor: pointer;
}
.explore-homes {
  margin: 70px auto 50px auto;
  text-align: center;
}
.explore-homes h2 {
  font-size: 50px;
  font-weight: 700;
}
.explore-homes p {
  width: 500px;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

.image {
  height: 100%;
  width: 300px;
}
.jMNKZk {
  width: 500% !important;
  height: 300px !important;
}
.jRFJkP:hover:enabled, .jRFJkP:focus:enabled {
  background: #b23838 !important;
}
.lcUbOd:hover, .lcUbOd:focus {
  box-shadow: 0 0 1px 3px #000 !important;
}
.eaptOe, .lcUbOd {
  background: #b23838 !important;
  box-shadow: 0 0 0 0 #b23838 !important;
}
@media screen and (max-width: 768px) {
  .app {
    width: 100%;
    background: #fff;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .links {
    display: none;
  }
  .content {
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
  }
  .text_content {
    max-width: 350px;
    text-align: center;
    margin-top: 180px;
  }
  .text_content h2 {
    display: none;
  }
  .text_content p {
    font-weight: 400;
    font-size: 20px;
    font-weight: 30px;
    margin-bottom: 40px 0;
  }
  .search-container input {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border: none;
    outline: none;
    height: 60px;
    width: 350px;
    font-size: 15px;
  }
  .search-container input::placeholder {
    font-size: 15px;
    color: gray;
    font-style: italic;
  }
  .search-button {
    width: 60px;
    height: 60px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 0;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bottom-text-container {
    display: block;
  }
  .bottom-text {
    width: 100%;
    margin: 40px auto;
    display: block;
    text-align: center;
  }
  .bottom-text img {
    width: 128px;
    height: 128px;
  }
  h1 {
    text-transform: capitalize;
    font-size: 30px;
    max-width: 70%;
    margin: 50px auto 0 auto;
  }
  .bottom-text p {
    max-width: 250px;
    margin: 0 auto;
    color: rgb(27, 26, 26);
  }
  .bottom-text button {
    width: 120px;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .input {
    width: 350px;
    height: auto;
    background: #eff0f3;
    margin: 30px auto;
  }
  .signin,
  .signup {
    display: none;
  }
  .menu {
    display: block;
    width: 30px;
    cursor: pointer;
  }
  .menu img {
    color: #b23838;
  } 
  .image-container {
    background: url("../images/background.jpg");
    width: 95%;
    height: 400px;
    margin: -5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .image-container span {
    margin: 20px auto;
    height: auto;
  }
  .image-container img {
    width: 100%;
    height: 300px;
  }
  .explore-homes h2 {
    font-size: 30px;
  }
  .explore-homes p {
    max-width: 350px;
    font-size: 18px;
  }
  .jMNKZk {
    width: 280% !important;
    height: 300px !important;
  }
}
