.menuBtn {
    display: block;
}
.menu-links {
    position: fixed;
    margin-left: auto;
    right: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100vh;
    background: #b23838;
    opacity: .98;
    z-index: 1;
}
.page-link {
    color: #fff;
    margin: 20px auto;
    padding: 15px 0;
    text-align: center;
}