.slider-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    height: 70vh;
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
    /* position: relative; */
    overflow: hidden;
}

.slider {
    min-width: 100%;
    height: 100%;
    /* position: relative; */
    transition: .5s;
    overflow: hidden;
}
.btn-styles  {
    position: absolute;
    border-radius: 30px;
}
#goLeft {
    left: 60px;
}
#goRight {
    right: 60px;
}

@media screen and (max-width:768px) {
    .slider-container {
        width: 80%;
        height: 50vh;
    }
}